/* #cluster-map {
  width: 100%;
  height: 500px;
}

#map {
  width: 100%;
  height: 300px;
} */

/* body {
  background-color: rgb(66, 66, 66);
} */

/* main {
    wi
} */

h1 {
  text-align: center;
}
